@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Istok+Web&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body {
  background: #1c1c1c; }

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1264px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.header {
  padding: 7px 0;
  position: relative;
  z-index: 10; }

.header__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 188px;
  flex: 0 0 188px; }
  .header__logo img {
    width: 100%; }

.header__nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 826px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__link a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: white; }

.header__buttons {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-language {
  width: 94px;
  height: 50px;
  border-radius: 17px;
  border: 1px solid #eaeaea;
  position: relative;
  overflow: hidden;
  margin-right: 20px; }

.header-language__iten {
  position: absolute;
  top: 0;
  width: 51px;
  height: 100%;
  border-radius: 17px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-language__iten span {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff; }
  .header-language__iten._active {
    background: #fff; }
  .header-language__iten._active span {
    color: #cc3c3c; }

.header-language__iten_ru {
  left: 0; }

.header-language__iten_en {
  right: 0; }

.header-search {
  background: #cc3c3c;
  border-radius: 20px;
  height: 50px;
  width: 74px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.index-block-header {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 51px 18px;
  margin: 0 -20px;
  margin-top: 47px;
  position: relative;
  z-index: 10; }
  @media (max-width: 767px) {
    .index-block-header {
      margin: 0 -15px;
      margin-top: 40px; } }

.index-block-header__text {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.index-block-header__text_big {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-right: 47px; }

.index-block-header__text_small {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: white; }

.index-block-slaider__body {
  position: relative;
  padding-bottom: 78px; }

.index-block-slaider {
  position: relative; }
  .index-block-slaider:before {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000000));
    background: -webkit-linear-gradient(transparent, #000000);
    background: -o-linear-gradient(transparent, #000000);
    background: linear-gradient(transparent, #000000);
    display: block;
    z-index: 9;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  @media (min-width: 1980px) {
    .index-block-slaider:before {
      height: 200px;
      -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
      transform: translateY(25%); } }

.index-block-slaid__item {
  padding: 70px 162px;
  padding-right: 660px; }
  .index-block-slaid__item > * {
    position: relative;
    z-index: 10; }
  @media (max-width: 1420px) {
    .index-block-slaid__item {
      padding: 70px 80px;
      padding-right: 660px; } }
  @media (max-width: 1200px) {
    .index-block-slaid__item {
      padding: 70px 0px;
      padding-right: 42%; } }

.index-block-slaid__title {
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 16px;
  max-width: 750px; }

.index-block-slaid__text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #cfcfcf;
  padding-left: 8px;
  margin-bottom: 68px; }

.index-block-slaid__button {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 57px;
  position: relative;
  padding-left: 50px;
  margin-left: 4px; }
  .index-block-slaid__button span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fff; }
  .index-block-slaid__button img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%; }

.index-block {
  position: relative;
  background: #000;
  overflow: hidden; }

.index-block__bacgraund {
  position: absolute;
  height: 900px;
  top: 0;
  left: 0;
  width: 100%; }
  @media (min-width: 1980px) {
    .index-block__bacgraund {
      height: 850px; } }
  @media (max-width: 1200px) {
    .index-block__bacgraund {
      height: 100%; }
      .index-block__bacgraund:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
        background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        display: block;
        z-index: 9; } }

.index-block__brago {
  position: absolute;
  bottom: 0;
  right: 118px;
  width: 520px;
  -webkit-transform: translateY(4%);
  -ms-transform: translateY(4%);
  transform: translateY(4%); }
  .index-block__brago img {
    width: 100%; }
  @media (min-width: 920px) {
    .index-block__brago {
      z-index: 9; } }
  @media (max-width: 1420px) {
    .index-block__brago {
      right: 40px; } }
  @media (max-width: 1200px) {
    .index-block__brago {
      right: 0px;
      height: 110%;
      width: auto; }
      .index-block__brago img {
        height: 100%;
        width: auto;
        -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%); } }
  @media (max-width: 920px) {
    .index-block__brago {
      -webkit-transform: translate(30%, 2%);
      -ms-transform: translate(30%, 2%);
      transform: translate(30%, 2%);
      top: 0;
      right: 0;
      bottom: auto; } }

.index-footer__body {
  background: #fff;
  padding-top: 500px;
  border-radius: 60px;
  position: relative;
  z-index: 10;
  margin: 0 -20px; }
  @media (max-width: 1200px) {
    .index-footer__body {
      margin: 0 -15px;
      padding-top: 40%; } }
