@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Istok+Web&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body {
  background: #1c1c1c; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?dsvlho");
  src: url("../fonts/icomoon.eot?dsvlho#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dsvlho") format("truetype"), url("../fonts/icomoon.woff?dsvlho") format("woff"), url("../fonts/icomoon.svg?dsvlho#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pointer-slaider-reght:before {
  content: "\e90c"; }

.icon-pointer-slaider-left:before {
  content: "\e90d"; }

.icon-pointer-button:before {
  content: "\e902"; }

.icon-pointer-left:before {
  content: "\e908"; }

.icon-pointer-reght:before {
  content: "\e90a"; }

.icon-magnifying-glass:before {
  content: "\e90b"; }

.icon-jackdaw:before {
  content: "\e904"; }

.icon-cross:before {
  content: "\e900"; }

.icon-instogram:before {
  content: "\e903"; }

.icon-vk:before {
  content: "\e905"; }

.icon-wachap:before {
  content: "\e906"; }

.icon-telegram:before {
  content: "\e907"; }

.icon-points:before {
  content: "\e909"; }

.icon-wechat:before {
  content: "\e901"; }

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1264px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.header {
  padding: 7px 0;
  position: relative;
  z-index: 15; }

.header__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 188px;
  flex: 0 0 188px;
  max-width: 188px; }
  @media (max-width: 1620px) {
    .header__logo {
      max-width: calc(144px + 44 * ((100vw - 320px) / 1300)); } }
  .header__logo img {
    width: 100%; }

.header__nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 826px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1064px) {
    .header__nav {
      display: none; } }

.header__link a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: white; }

.header__buttons {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-language {
  width: 94px;
  height: 50px;
  border-radius: 17px;
  border: 1px solid #eaeaea;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  cursor: pointer; }
  .header-language:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    display: block;
    background: #fff;
    border-radius: 17px; }
  .header-language._active:before {
    left: auto;
    right: 0; }
  .header-language._active .header-language__iten_ru span {
    color: #eaeaea; }
  .header-language._active .header-language__iten_en span {
    color: #cc3c3c; }
  @media (max-width: 1064px) {
    .header-language {
      display: none; } }

.header-language__iten {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 51px;
  height: 100%;
  border-radius: 17px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-language__iten span {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff; }
  .header-language__iten._active {
    background: #fff; }
  .header-language__iten._active span {
    color: #cc3c3c; }

.header-language__iten_ru {
  left: 0; }
  .header-language__iten_ru span {
    color: #cc3c3c; }

.header-language__iten_en {
  right: 0; }

.header-search {
  background: #cc3c3c;
  border-radius: 20px;
  height: 50px;
  width: 74px;
  position: relative; }

.header-search__button {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer; }

.header-search__body {
  position: absolute;
  width: 600px;
  height: 60px;
  right: 0;
  bottom: -20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  background: #fff;
  z-index: 11;
  border-radius: 20px;
  overflow: hidden;
  padding: 4px 6px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-search__body input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    padding-left: 15px; }
  .header-search__body button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 123px;
    flex: 0 0 123px;
    border-radius: 20px;
    background: #CC3C3C;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    color: #fff; }
  .header-search__body._active {
    opacity: 1;
    visibility: visible;
    bottom: -15px; }

.index-block-slaider > .container {
  position: relative; }

.index-block-header {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 51px 18px;
  margin: 0 -20px;
  margin-top: 47px;
  position: relative;
  z-index: 10; }
  @media (max-width: 767px) {
    .index-block-header {
      margin: 0 -15px;
      margin-top: 40px; } }

.index-block-header__text {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.index-block-header__text_big {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-right: 47px; }

.index-block-header__text_small {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: white; }

.index-block-slaider__body {
  position: relative;
  padding-bottom: 78px; }

.index-block-slaider {
  position: relative; }
  .index-block-slaider:before {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000000));
    background: -webkit-linear-gradient(transparent, #000000);
    background: -o-linear-gradient(transparent, #000000);
    background: linear-gradient(transparent, #000000);
    display: block;
    z-index: 9;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  @media (min-width: 1920px) {
    .index-block-slaider:before {
      height: 105px;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); } }

.index-block-slaid__item {
  padding: 70px 162px;
  padding-right: 660px; }
  .index-block-slaid__item > * {
    position: relative;
    z-index: 10; }
  @media (max-width: 1420px) {
    .index-block-slaid__item {
      padding: 70px 80px;
      padding-right: 660px; } }
  @media (max-width: 1200px) {
    .index-block-slaid__item {
      padding: 70px 0px;
      padding-right: 42%; } }

.index-block-slaid__title {
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 16px;
  max-width: 750px; }
  @media (max-width: 1620px) {
    .index-block-slaid__title {
      font-size: calc(30px + 40 * ((100vw - 320px) / 1300)); } }

.index-block-slaid__text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  color: #cfcfcf;
  padding-left: 8px;
  margin-bottom: 68px; }
  @media (max-width: 1620px) {
    .index-block-slaid__text {
      font-size: calc(14px + 3 * ((100vw - 320px) / 1300)); } }
  @media (max-width: 1620px) {
    .index-block-slaid__text {
      line-height: calc(17px + 4 * ((100vw - 320px) / 1300)); } }
  @media (max-width: 1200px) {
    .index-block-slaid__text {
      padding-left: 0; } }

.index-block-slaid__button {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 57px;
  position: relative;
  padding-left: 50px;
  margin-left: 4px; }
  .index-block-slaid__button span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fff; }
  .index-block-slaid__button img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%; }
  .index-block-slaid__button.index-block-slaid__button_black {
    margin-left: 0; }
  .index-block-slaid__button.index-block-slaid__button_black span {
    color: #000; }

.index-block-slaider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #FFFFFF;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .index-block-slaider__button > span {
    font-size: 24px;
    color: #CC3C3C; }

.index-block-slaider__button-left {
  left: 25px; }

.index-block-slaider__button-reght {
  right: 25px; }

.index-block {
  position: relative;
  background: #000;
  overflow: hidden; }
  .index-block:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#321322));
    background: -webkit-linear-gradient(transparent, #321322);
    background: -o-linear-gradient(transparent, #321322);
    background: linear-gradient(transparent, #321322); }

.index-block__bacgraund {
  position: absolute;
  height: 900px;
  top: 0;
  left: 0;
  width: 100%; }
  @media (min-width: 1920px) {
    .index-block__bacgraund {
      height: 850px; } }
  @media (max-width: 1200px) {
    .index-block__bacgraund {
      height: 100%; }
      .index-block__bacgraund:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
        background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        display: block;
        z-index: 9; } }

.index-block__brago {
  position: absolute;
  bottom: 0;
  right: 118px;
  width: 520px;
  -webkit-transform: translateY(4%);
  -ms-transform: translateY(4%);
  transform: translateY(4%); }
  .index-block__brago img {
    width: 100%; }
  @media (min-width: 920px) {
    .index-block__brago {
      z-index: 9; } }
  @media (max-width: 1420px) {
    .index-block__brago {
      right: 40px; } }
  @media (max-width: 1200px) {
    .index-block__brago {
      right: 0px;
      height: 110%;
      width: auto; }
      .index-block__brago img {
        height: 100%;
        width: auto;
        -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%); } }
  @media (max-width: 920px) {
    .index-block__brago {
      -webkit-transform: translate(30%, 2%);
      -ms-transform: translate(30%, 2%);
      transform: translate(30%, 2%);
      top: 0;
      right: 0;
      bottom: auto; } }

.index-footer__body {
  background: #fff;
  min-height: 350px;
  padding: 60px 120px;
  border-radius: 60px;
  position: relative;
  z-index: 10;
  margin: 0 -20px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .index-footer__body {
      margin: 0 -15px;
      padding-top: 40%; } }

.index-footer-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46%;
  flex: 0 0 46%; }

.index-footer-text__title {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 31px;
  color: #000;
  margin-bottom: 14px; }
  .index-footer-text__title span {
    color: #CC3C3C; }

.index-footer-text__slaiber {
  margin-bottom: 12px; }

.index-footer-text__slaid {
  padding-top: 45%;
  background-color: #1c1c1c;
  border-radius: 20px; }

.index-footer-text__text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  color: #000000;
  margin-bottom: 16px; }
  .index-footer-text__text span {
    font-weight: 500; }

.index-footer-projects {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46%;
  flex: 0 0 46%;
  max-width: 46%; }

.index-footer-projects__title {
  font-family: Inter;
  font-size: 42px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-bottom: 35px; }

.index-footer-projects__slaider {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.index-footer-slaid {
  border: 1px solid #CECECE;
  border-radius: 20px;
  padding: 24px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%; }

.index-footer-slaid__title {
  font-family: Inter;
  font-size: 42px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #CC3C3C;
  margin-bottom: 12px; }

.index-footer-slaid__img {
  height: 68px;
  margin-bottom: 62px; }

.index-footer-slaid__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000; }

.index-footer-text,
.index-footer-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.index-footer-text__wrapper,
.index-footer-projects__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.about-us {
  padding: 55px 0;
  background-image: url("../img/about-us/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .about-us > * {
    position: relative;
    z-index: 2; }
  .about-us:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#321322), to(transparent));
    background: -webkit-linear-gradient(#321322, transparent);
    background: -o-linear-gradient(#321322, transparent);
    background: linear-gradient(#321322, transparent); }
  .about-us:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#88514e));
    background: -webkit-linear-gradient(transparent, #88514e);
    background: -o-linear-gradient(transparent, #88514e);
    background: linear-gradient(transparent, #88514e); }

.about-us-img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -4%);
  -ms-transform: translate(-50%, -4%);
  transform: translate(-50%, -4%); }

.about-us__title {
  font-family: Inter;
  font-size: 150px;
  font-weight: 700;
  line-height: 133px;
  color: #fff;
  margin-bottom: 30px; }

.about-us__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.about-us-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-bottom: 2%;
  background: #000;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border: 1px solid rgba(130, 139, 167, 0.3);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  min-height: 233px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.about-us-block__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.about-us-block__title {
  margin-bottom: 12px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .about-us-block__title span {
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 44px;
    color: #fff; }

.about-us-block__title-button {
  font-size: 22px;
  color: #fff; }

.about-us-block__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #fff; }

.about-us-block__list {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about-us-block__link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 12px 18px;
  border-radius: 56.6px;
  margin-right: 8px;
  background: rgba(0, 0, 0, 0.15); }

.about-us-block__list-button {
  font-size: 5px;
  margin-left: 8px;
  color: #fff; }

.services {
  background: #000;
  position: relative; }
  .services:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45%;
    background: -webkit-gradient(linear, left top, left bottom, from(#88514e), to(transparent));
    background: -webkit-linear-gradient(#88514e, transparent);
    background: -o-linear-gradient(#88514e, transparent);
    background: linear-gradient(#88514e, transparent); }

.services__wrapper {
  background: #fff;
  min-height: 350px;
  padding: 60px 120px;
  border-radius: 60px;
  position: relative;
  z-index: 10;
  margin: 0 -20px;
  overflow: hidden; }

.services__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.services-form {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%; }

.services-form__title {
  font-family: Inter;
  font-size: 90px;
  font-weight: 700;
  line-height: 80px;
  color: #CC3C3C;
  margin-bottom: 30px; }

.services-form__list {
  padding-left: 70px; }

.services-form__list-title {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  left: -70px; }
  .services-form__list-title span {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #000; }
  .services-form__list-title img {
    margin-right: 15px; }

.services-form__list-wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 40px; }
  .services-form__list-wrapper:last-child {
    padding-bottom: 0; }

.services-form__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-bottom: 1.5%; }

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #000; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "\e904";
  font-family: 'icomoon' !important;
  position: absolute;
  color: #CC3C3C;
  /*-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;*/ }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 4px;
  top: 6px;
  font-size: 9px;
  /*width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);*/ }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e145a3; }

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0; }

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1; }

.services-slaider {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%; }

.services-slaider__title {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #000;
  margin-bottom: 30px; }

.services-slaider__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150%; }

.services-slaider__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%; }

.services-slaider__img {
  padding-top: 70%;
  background-color: #1c1c1c;
  margin-bottom: 3px;
  border-radius: 20px; }

.services-slaider__text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -0.01em;
  color: #000; }

.services__buttons {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px; }
  .services__buttons > * {
    margin-right: 24px; }
  .services__buttons > *:last-child {
    margin-right: 0;
    margin-left: 54px; }

.services__button-pouring {
  background: #CC3C3C;
  padding: 14px 45px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 323px;
  border-radius: 50px; }
  .services__button-pouring span {
    font-size: 17px;
    color: #fff;
    font-family: Inter;
    font-weight: 700;
    line-height: 17px; }

.test-frontend {
  background-image: url("../img/test-front/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 30px;
  position: relative; }
  .test-frontend:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 65%;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
    background: -webkit-linear-gradient(#000000, transparent);
    background: -o-linear-gradient(#000000, transparent);
    background: linear-gradient(#000000, transparent); }

.test-frontend__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .test-frontend__body > * {
    position: relative;
    z-index: 2; }

.test-frontend__title {
  font-family: Inter;
  font-size: 43px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 23px; }
  .test-frontend__title span {
    color: #CC3C3C; }

.test-frontend__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 47%;
  flex: 0 0 47%; }
  .test-frontend__img img {
    width: 65%; }

.articles .index-block-slaid__button {
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  width: 200px; }

.articles__wrapper {
  background: #fff;
  min-height: 350px;
  padding: 40px 60px;
  border-radius: 60px;
  position: relative;
  z-index: 10;
  margin: 0 -20px;
  overflow: hidden; }

.articles__title-h1 {
  font-family: Inter;
  font-size: 90px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #CC3C3C;
  margin-bottom: 30px; }

.articles-link-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 34px; }

.articles-link-list__link {
  padding: 14px 77px;
  border: 1px solid #C6C6C6;
  margin-right: 23px;
  border-radius: 78px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #CC3C3C; }

.articles-body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 55px; }

.articles-body__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%; }
  .articles-body__block.articles-body__block_big {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%; }
  .articles-body__block.articles-body__block_big .articles-body__img {
    padding-top: 60%; }
  .articles-body__block.articles-body__block_big .articles-body__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 31px; }

.articles-body__img {
  background-color: #1c1c1c;
  padding-top: 45%;
  margin-bottom: 12px;
  border-radius: 20px; }

.articles-body__data {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #C6C6C6;
  margin-bottom: 8px; }

.articles-body__title {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-bottom: 13px; }

.articles-body__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #AEAEAE; }

.articles-footer {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #DADADA; }

.articles-footer__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%; }

.articles-footer__img {
  background-color: #1c1c1c;
  padding-top: 50%;
  margin-bottom: 12px;
  border-radius: 20px; }

.articles-footer__data {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #C6C6C6;
  margin-bottom: 8px; }

.articles-footer__title {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 35px; }

.articles-footer__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #AEAEAE; }

.news {
  padding: 70px 0; }

.news__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.news-panel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.news-panel__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.news-panel__title {
  font-family: Inter;
  font-size: 90px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 22px; }

.news-panel__list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.news-panel__link {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 13px;
  color: #fff;
  padding: 15px 24px;
  border: 1px solid #E4E4E4;
  border-radius: 60px;
  margin-right: 14px;
  margin-bottom: 8px; }

.news-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 140px; }

.news-content__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
  border-bottom: 1px solid #CC3C3C;
  padding-bottom: 30px; }

.news-content__data {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 12px; }

.news-content__title {
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 16px; }

.news-content__img {
  padding-top: 60%;
  background-color: #111;
  border-radius: 16px;
  margin-bottom: 27px; }

.news-content__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #fff;
  padding-right: 17px; }
